#container {
  animation: move_right_kf 2.58s infinite;
}

@keyframes move_right_kf {
  0% {
    transform: translateX(-2.5vw);
  }
  100% {
    transform: translateX(46vw);
  }
}

#ball {
  width: 5vw;
  height: 5vw;
  animation: up_and_down_kf 2.58s infinite;
}

@keyframes up_and_down_kf {
  0% {
    transform: translateY(4vw);
    animation-timing-function: cubic-bezier(0.47, -0.12, 1, 0.24);
  }
  23% {
    transform: translateY(32vw);
    animation-timing-function: cubic-bezier(0, 0.24, 0.12, 1.12);
  }
  34% {
    transform: translateY(13vw);
    animation-timing-function: cubic-bezier(1, 0.34, 1, 0.64);
  }
  40% {
    transform: translateY(32vw);
    animation-timing-function: cubic-bezier(0, 0.38, 0.29, 0.75);
  }
  48% {
    transform: translateY(18vw);
    animation-timing-function: cubic-bezier(0.82, 0.15, 0.99, 0.59);
  }
  60% {
    transform: translateY(32vw);
    animation-timing-function: cubic-bezier(0, 0.12, 0.26, 1);
  }
  80% {
    transform: translateY(25vw);
    animation-timing-function: cubic-bezier(0.32, 0.61, 1, 0.48);
  }
  100% {
    transform: translateY(32vw);
  }
}
